body{
    text-align: center;
    background: #eee;
    width: 320px;
    overflow: hidden;
    font-family: "黑体-简", "Helvetica";
}

.doc {
    margin: 0 auto;
    text-align: left;
}

header {
    overflow: hidden;
}

.main {
    height: 518px;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    opacity: 0.6;
}