body{
    text-align: center;
    width: 320px;
    margin: 0 auto;
    background: #f5f5f5;
    color: #333;
    position: relative;
}

body, html {
    overflow: hidden;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.touchHighLight {
    background: #f7f7f7!important;
    border-color: #f7f7f7!important;
}

.header {
    background: #fff;
}

.header .header-title {
    background: #529ff2;
    text-align: center;
    height: 44px;
    line-height: 44px;
}

.header .header-title .title-logo {
    display: inline-block;
    background: url("./imgs/title.png") no-repeat;
    width: 49.5px;
    height: 22.5px;
    background-size: 100%;
    position: absolute;
    top: 10px;
}

.header .header-title h1 {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    margin-left: 50.5px;
}

.header .header-tabs {
    overflow: hidden;
    border-bottom:1px solid #f5f5f5;
    position: relative;
}

.header .header-tabs .header-tabs-ul li {
    padding: 15px 14px 11px;
    font-size: 16px;
}

.noborder {
    border: none!important;
}

#tab1:target {
    transform: translate3d(58px,0px,0px); 
}

.header .header-tabs .header-tabs-ul li.active {
    color: #529ff2;
    border-bottom: 2px solid #529ff2;
}

.header .header-tabs .bottom-select {
    display: none;
    position: absolute;
    height: 2px;
    background: #529ff2;
    width: 60px;
    transition-duration: 0.3s;
    bottom: 0;
}

.content {
    height: 480px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
}

.content .panel-index {

}

.content .panel-index .select-tab {
    padding: 13px 8px 9px;
    background: #fff;
    margin-bottom: 11px;
}

.content .panel-index .select-tab>.flex {

}

.content .panel-index .select-tab>.flex>.cell img {
    width: 50px;
    height: 50px;
}

.content .panel-index .select-tab>.flex>.cell p {
    font-size: 14px;
    margin-top: 10px;
}

.content .panel-index .panel-index-list {
    text-align: left;
    background: #fff;
}
.content .panel-index .panel-index-list .list-item {
    position: relative;
    padding: 10px 10px 9px;
    border-bottom: 1px solid #ebebeb;
}
.content .panel-index .panel-index-list .list-item:first-child {
    padding-top: 9px;
}
.content .panel-index .panel-index-list .list-item img {
    float: left;
    display: inline-block;
    width: 105px;
    height: 70px;
    margin-right: 10px;
}

.content .panel-index .panel-index-list .list-item .list-item-title {
    font-size: 15px;
    line-height: 17px;
}

.content .panel-index .panel-index-list .list-item .list-item-bottom {
    display: inline;
    position: absolute;
    bottom: 9px;
    left: 125px;
}

.content .panel-index .panel-index-list .list-item .list-item-bottom .red-tag{
    border: 1px solid #fd745d;
    padding: 0 2px;
    color: #fd745d;
    margin-right: 5px;
}

.content .panel-index .panel-index-list .list-item .list-item-bottom .icon-person {
    background: url("./imgs/person.png") no-repeat;
    width: 13.5px;
    height: 14px;
    display: inline-block;
    background-size: 100%;
    vertical-align: bottom;
    margin-left: 1px;
}

.content .panel-index .panel-index-list .list-item .icon-msg {
    height: 14px;
    width: 14px;
    background: url("./imgs/msg.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.content .panel-index .panel-index-list .list-item .item-bottom-text {
    font-size: 13px;
    margin-left: 2px;
    color: #bcbcbc;
}

.content .panel-index .panel-index-list .list-item .right-comment {
    position: absolute;
    bottom: 9px;
    right: 9px;
}

.footer {
    height: 49px;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #f6f6f6;
}

.footer .footer-tabs {
    padding: 10px 0;
    background: rgba(255,255,255,.8);
}

.footer li {
    text-align: center;
    line-height: 49px;
    color: #777;
}

.footer .footer-icon {
    margin: 0 auto;
}

.footer .footer-icon.footer-icon-info {
    background: url('./imgs/icon-info.png') no-repeat;
    height: 20px;
    width: 18px;
    background-size: 100%;
}

.footer .footer-icon.footer-icon-car {
    background: url('./imgs/icon-car.png') no-repeat;
    height: 19px;
    width: 21px;
    background-size: 100%;
}

.footer .footer-icon.footer-icon-money {
    background: url('./imgs/icon-money.png') no-repeat;
    height: 22px;
    width: 22px;
    background-size: 100%;
}

.footer .footer-icon.footer-icon-msg {
    background: url('./imgs/icon-msg.png') no-repeat;
    height: 22px;
    width: 22px;
    background-size: 100%;
}

.footer .footer-text {
    line-height: 20px;
    font-size: 10px;
}