html,body {
    height: 100%;
    overflow: hidden;
}

body {
    width: 320px;
    margin: 0 auto;
}

.header {
    padding: 28px 0 9px;
    background: #529ff2;
    text-align: center;
    position: relative;
}

.header .header-tabs {
    padding: 4px 0;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 17px;
}

.header .header-tabs span{
    color: #fff;
    font-size: 15px;
}

.header .header-tabs.two-pannel span{
    padding: 3px 11px;
    border-radius: 17px;
}

.header .header-tabs.two-pannel .active {
    background: #fff;
    color: #529ff2;
    border: 1px solid #fff;
}

.header .icon-search {
    display: inline-block;
    width: 17.5px;
    height: 17.5px;
    background: url('./imgs/icon-search.png') no-repeat;
    background-size: 100%;
    margin: 3.75px 5px 3.75px 0;
    vertical-align: middle;
    position: absolute;
    right: 10px;
}
.find-content {
    overflow-y: scroll;
    height: 407px;
}
.find-banner {
    width: 320px;
    border-bottom: 1px solid #ededed;
}

.find-pannel {
    margin-top: 0;
}

.find-footer {
    position: absolute;
    bottom: 50px;
    padding: 16px 0 16px 18px;
    border-top: 1px solid #ebebeb;
}

.find-footer .find-footer-left {
    font-size: 16px;
    color: #353535;
}

.find-footer .find-footer-right {
    color: #fff;
    font-size: 15px;
    background: #529ff2;
    margin-left: 28px;
    padding: 5px 45px;
}